<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pagu - Dashboard</title>
    <link rel="icon" type="image/x-icon" th:href="@{/img/pagu.ico}">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous"
    >
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
    <style>
    * {
      font-family: "Inter", Arial, sans-serif;
    }
  </style>
</head>
<body>
<div class="container my-5">
    <div class="d-flex flex-row">
        <img th:src="@{/img/pagu.png}" class="img-fluid mr-3" style="height:40px; width:auto;">
        <h1 class="align-middle">Pagu</h1>
    </div>
    <hr>
    <h5><b>Detail Pengajuan Dana</b></h5>
    <h6 class="mt-3"><b>Profil Pengajuan</b></h6>
    <table class="table table-bordered">
        <tbody>
        <tr>
            <td>Judul Pengajuan</td>
            <td th:text="${pengajuanDana.judul}"></td>
        </tr>
        <tr>
            <td>Deskripsi Pengajuan</td>
            <td th:text="${pengajuanDana.deskripsi}"></td>
        </tr>
        <tr>
            <td>Total Dana Diajukan</td>
            <td th:text="${#aggregates.sum(pengajuanDana.itemAnggaran.![harga * jumlah])}"></td>
        </tr>
        <tr>
            <td>Link Proposal</td>
            <td>
                <a th:href="@{'/proposal/' + ${pengajuanDana.proposal}}"
                   th:text="'Proposal ' + ${pengajuanDana.judul}">

                </a>
            </td>
        </tr>
        </tbody>
    </table>
    <h6 class="mt-5"><b>Rincian Anggaran Dana</b></h6>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nama Item</th>
            <th scope="col">Harga Satuan</th>
            <th scope="col">Jumlah</th>
            <th scope="col">Harga Total</th>
        </tr>
        </thead>
        <tbody th:each="item, iter : ${pengajuanDana.itemAnggaran}">
        <tr>
            <th th:text="${iter.index + 1}" scope="row"></th>
            <td th:text="${item.nama}"></td>
            <td th:text="${item.harga}"></td>
            <td th:text="${item.jumlah}"></td>
            <td th:text="${item.jumlah * item.harga}"></td>
        </tr>
        </tbody>
        <tr>
            <td colspan="4">Total</td>
            <td th:text="${#aggregates.sum(pengajuanDana.itemAnggaran.![harga * jumlah])}"></td>
        </tr>
    </table>
    <h6 class="mt-5"><b>Histori Pengajuan</b></h6>
    <div th:each="histori : ${pengajuanDana.histori}" class="d-flex flex-row mt-1">
        <div style="background-color:#EA4108; min-height:100px; min-width:5px;"></div>
        <div  class="w-75 p-3">
            <div>
                <p><b>Status</b></p>
                <p th:text="${histori.status}" class="align-baseline"></p>
                <hr>
            </div>
            <div>
                <p><b>Catatan</b></p>
                <p th:text="${histori.note != ''} ? ${histori.note} : 'Tidak ada catatan.'" class="align-baseline"></p>
                <hr>
            </div>
            <div>
                <p><b>Perubahan oleh</b></p>
                <p th:text="${histori.pembuatId.nama}" class="align-baseline"></p>
                <hr>
            </div>
            <small th:text="'Tanggal Update : ' + ${#dates.format(histori.createdAt, 'dd-MM-yyyy')}"></small>
        </div>
    </div>
</div>
</body>
</html>